<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Event Name</mat-label>
    <input matInput [(ngModel)]="newtitle" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Score from 1-10</mat-label>
    <input matInput [(ngModel)]="newscore" type="number" />
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary" (click)="add()">
    ADD Feedback
  </button>
</mat-card>
