<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let entry of feedbackList; let i = index">
      {{ i + 1 }}. Name: {{ entry.name }} - Score: {{ entry.score }}
    </mat-list-item>
  </mat-list>
</mat-card>
